@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import "abstracts/_variables.scss";
@import "abstracts/mixins";


@import "base/_base.scss";
@import "base/_animations.scss";
@import "components/_card.scss";
@import "components/_query.scss";


html {
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    user-select: none;
    user-zoom: none;
}

body {
    color: $black;
    background: $bg-color;
    position: relative;
//  background: var(--tg-theme-bg-color);
//  color: var(--tg-theme-text-color);   
}