$bg-color: #F0F0F0;
$black: #202020;
$soft-black: #000;
$gray: #868686;
$gray-variant: #9C9A9D;
$input-border-bottom: #DBDBDB;
$white: #fff;
$blue: #51AEE7;
$red: #D60A0A;
$primary-red: #DE3A3A;
$bg-red: rgba(237, 89, 116, 0.2);
$green: #23B60B;
$light-greeen: #EAF7ED;
$yellow: #F1A30C;
$light-red: #FFE3E8;
$border-gray: #E9EBEA;
$block-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 2px 10px rgba(0, 0, 0, 0.04);
$pop-up-box-shadow:  0px 0px 3.16667px rgba(0, 0, 0, 0.15);
$button-box-shadow: 0px 0px 2px rgba(81, 174, 231, 0.15), 0px 2px 7px 1px rgba(81, 174, 231, 0.1);
$promo-kod-box-shadow: 0px 5px 10px rgba(21, 156, 237, 0.15);
$tab-box-shadow: 0px 1.33469px 2.33571px rgba(0, 0, 0, 0.17);
$dialog-box-shadow: 0px 1.58333px 3.16667px rgba(0, 0, 0, 0.14), 0px 0.316667px 5.7px rgba(0, 0, 0, 0.12), 0px 0.95px 1.58333px rgba(0, 0, 0, 0.2);


