.border-2 {
    border-bottom: .2rem $bg-color solid;
}

.bg-green {
    background: $green !important;
}

.position-relative {
    position: relative;
}

.position-sticky {
    position: sticky;
}

.top-0 {
    top: 0rem;
}


.error-input {
    color: $red !important;
    position: relative;
    background: $bg-red !important;
    &::placeholder {
        color: $red !important;
    }
}

