.query-link {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    &__header {
        @include card-mixin;
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 900;
        padding: 1rem 1.6rem;
        &--icon {
            font-size: 1.77rem;
            background: $blue;
            color: $white;
            border-radius: 50%;
            padding: 1.64rem;
            margin-right: 1.4rem;
        }

        &--title {
            font-size: 2rem;
            p {
                display: flex;
                color: $green;
                margin-top: .85rem;
                align-items: center;
                gap: .6rem;
            }
        }

    }

    &__lists {
        @include card-mixin;
        &--i1 {
            padding: 1.4rem 2.3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include card-mixin;
            &--text {
                display: flex;
                align-items: center;
                gap: 2.5rem;
                font-weight: 500;
                i {
                    font-size: 2rem;
                }
            }

            &--btn {
                button {
                    @include btn-mixin;
                    background: $red;
                    color: $white;
                }
            }

            &--subtext {
                color: $gray-variant;
            }
        }

        footer {
            color: $gray;
            @include card-mixin;
            text-align: center;
            padding: 1.1rem 0;
        }
    }

    
}